<div class="container mt-4">
  <!-- renderizamos el componente hijo -->
  <!-- INPUT [todos] que viene INPUT de la logica del hijo y tiene que coincidir el nombre exacto y le pasamos el metodo que tenemos en el padre:
  obtenerTotalEmpleados() -->
  <app-numero-empleados [todos]="obtenerTotalEmpleados()" [masculino]="obtenerTotalMasculinos()" [femenino]=" obtenerTotalFemeninos()"></app-numero-empleados>
  <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Numero Empleado</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Sexo</th>
            <th>Sueldo Anual</th>
          </tr>
        </thead>
        <tbody>
          <!-- directiva ngFor para iterar la lista de empleados, por lo que queremos cada empleado de la array listEmpleados -->
          <ng-container *ngFor="let empleado of listEmpleados">
            <!-- directiva ngIf para filtrar por sexo -->
            <tr *ngIf="radioButtonSeleccionado == 'Todos' || radioButtonSeleccionado == empleado.sexo">
              <td>{{empleado.numeroEmpleado}}</td>
              <td>{{empleado.nombre}}</td>
              <td>{{empleado.apellidos}}</td>
              <td>{{empleado.sexo}}</td>
              <td>{{empleado.salario}} {{empleado.moneda}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
