<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sexo" id="todos" value="Todos">
        <label class="form-check-label" for="todos">Todos (5)</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sexo" id="femenino" value="Femenino">
        <label class="form-check-label" for="femenino">Femenino (3)</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sexo" id="masculino" value="masculino">
        <label class="form-check-label" for="masculino">Masculino (2)</label>
      </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Numero Empleado</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Sexo</th>
            <th>Sueldo Anual</th>
          </tr>
        </thead>
        <tbody>
          <!-- directiva ngFor para iterar la lista de empleados, por lo que queremos cada empleado de la array listEmpleados -->
          <tr *ngFor="let empleado of listEmpleados">
            <td>{{empleado.numeroEmpleado}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellidos}}</td>
            <td>{{empleado.sexo}}</td>
            <td>{{empleado.salario}} {{empleado.moneda}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
